img {
    display: block;
    margin: 50px auto;
}

/* Rotacja */
/*
img:nth-child(1) {
    transform: rotateY(0deg);
    transition: all .75s;
}

img:nth-child(1):hover {
    transform: rotateY(180deg);
}
*/

/* Przesunięcie */
img:nth-child(2) {
    transform: translate(25%);
}

/* Skalowanie */
img:nth-child(3) {
    transform: scale(1);
    transition: all .5s ease-in-out;
    opacity: 0.75;
}

img:nth-child(3):hover {
    transform: scale(1.05);
    opacity: 1;
}

/* Animacje */

/*
img:nth-child(4) {
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 0%;    
}

@keyframes resize {
    0% {
        width: 0%;
        transform: rotate(0deg);
    }
    
    50% {
        width: 100%;
        transform: rotate(180deg);
    }
    
    100% {
        width: 0%;
        transform: rotate(360deg);
    }
}
*/
    
    
img:nth-child(1) {
    animation-name: growrotate;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    width: 100%;
}

@keyframes growrotate {
    0% {
        width: 0%;
        transform: rotate(-360deg);
        opacity: 0;
    }
    
    75% {
        width: 100%;
        transform: rotate(360deg);
        opacity: 1;
    }
    
    100% {
        width: 100%;
        transform: rotate(360deg);
        opacity: 1:
    }
}
    